<app-nav-bar></app-nav-bar>

    <!-- Begin Wrapper -->
    <div class="main-wrapper">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-transparent">
                    <div class="card shadow-none mb-0">
                        <div class="px-3 py-2 d-flex flex-row align-items-center" id="search-top">
                            <i class="ti ti-search fs-22"></i>
                            <input type="search" class="form-control border-0" placeholder="Search">
                            <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x fs-22"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

        <!-- ========================
			Start Page Content
		========================= -->
         
        <div class="page-wrapper">

            <!-- Start Content -->
            <div class="content">

                <!-- Page Header -->
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-3">
                    <div class="flex-grow-1">
                        <h5 class="fw-bold">Manage</h5>
                        <nav aria-label="breadcrumb">
                            <!-- <ol class="breadcrumb breadcrumb-divide p-0 mb-0">
                                <li class="breadcrumb-item d-flex align-items-center"><a href="index.html"><i class="ti ti-home me-1"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Manage</li>
                            </ol> -->
                        </nav>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal"><i class="ti ti-circle-plus me-1"></i>New Role</a>
                </div>
				<!-- End Page Header -->

                

                <div class="tab-content">
                    <div class="tab-pane show active" id="nav_tab_1" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-nowrap border">
                                <thead class="table-light">
                                    <tr>
                                        <th>Role</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h6 class="fs-14 mb-0"><a href="manage-super-admin">Super Admin</a></h6></td>
                                        <td>Manages system settings, user roles, and company-wide controls.</td>
                                        <td>
                                            <div>
                                                <select class="select">
                                                    <option selected>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-inline-flex align-items-center">
                                                <a href="manage-super-admin" class="btn btn-icon btn-sm btn-outline-white border-0"><i class="ti ti-shield"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h6 class="fs-14 mb-0"><a href="manage-admin">Admin</a></h6></td>
                                        <td>Admin handles daily operations, user management, and data maintenance.</td>
                                        <td>
                                            <div>
                                                <select class="select">
                                                    <option selected>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-inline-flex align-items-center">
                                                <a href="manage-admin" class="btn btn-icon btn-sm btn-outline-white border-0"><i class="ti ti-shield"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                      <tr>
                                        <td><h6 class="fs-14 mb-0"><a href="manage-line-manager">Line Manager</a></h6></td>
                                        <td>Oversees team performance and ensures task completion.</td>
                                        <td>
                                            <div>
                                                <select class="select">
                                                    <option selected>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-inline-flex align-items-center">
                                                <a href="manage-line-manager" class="btn btn-icon btn-sm btn-outline-white border-0"><i class="ti ti-shield"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td><h6 class="fs-14 mb-0"><a href="manage-payroll.html">Payroll Admin</a></h6></td>
                                        <td>Manages employee salaries, deductions, and payroll processing.</td>
                                        <td>
                                            <div>
                                                <select class="select">
                                                    <option selected>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-inline-flex align-items-center">
                                                <a href="manage-payroll.html" class="btn btn-icon btn-sm btn-outline-white border-0"><i class="ti ti-shield"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td><h6 class="fs-14 mb-0"><a href="manage-team-member.html">Team Member</a></h6></td>
                                        <td>Supports daily tasks and collaborates on assigned projects.</td>
                                        <td>
                                            <div>
                                                <select class="select">
                                                    <option selected>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-inline-flex align-items-center">
                                                <a href="manage-team-member.html" class="btn btn-icon btn-sm btn-outline-white border-0"><i class="ti ti-shield"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="btn btn-icon btn-sm btn-outline-white border-0" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
                                
            </div>
            <!-- End Content -->

            <!-- Footer Start -->
            <div class="footer d-flex align-items-center justify-content-between flex-column flex-sm-row row-gap-2 border-top py-2 px-3">
                <p class="text-dark mb-0">2025 &copy; <a href="javascript:void(0);" class="link-primary">Dleo HR</a>, All Rights Reserved</p>
                <p class="text-dark mb-0">Design & Developed by <a href="https://dreamstechnologies.com/" target="_blank" class="link-primary">Dreams Technologies</a></p>
            </div>
            <!-- Footer End -->

        </div>

        <!-- ========================
			End Page Content
		========================= -->

        <div class="modal fade" id="add_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="page-title">
                            <h6 class="fw-bold mb-0">Add New Role</h6>
                        </div>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
                    </div>
                    <form action="https://dleohr.dreamstechnologies.com/html/template/manage.html">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Role Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Category <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select</option>
                                    <option>Account Roles</option>
                                    <option>Leadership Roles</option>
                                </select>
                            </div>
                            <div>
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Add Role</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end modal -->

        <div class="modal fade" id="edit_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="page-title">
                            <h6 class="fw-bold mb-0">Edit Role</h6>
                        </div>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
                    </div>
                    <form action="https://dleohr.dreamstechnologies.com/html/template/manage.html">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Role Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="Admin">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Category <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select</option>
                                    <option selected>Account Roles</option>
                                    <option>Leadership Roles</option>
                                </select>
                            </div>
                            <div>
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3">Admin handles daily operations, user management, and data maintenance.</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end modal -->

        <!-- Start Modal  -->
        <div class="modal fade" id="delete_modal">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="mb-3">
                            <span class="avatar bg-danger"><i class="ti ti-trash fs-24"></i></span>
                        </div>
                        <h6 class="mb-1">Delete Confirmation</h6>
                        <p class="mb-3">Are you sure want to delete role?</p>
                        <div class="d-flex justify-content-center">
                            <a href="javascript:void(0);" class="btn btn-outline-white w-100 me-2" data-bs-dismiss="modal">Cancel</a>
                            <a href="manage.html" class="btn btn-danger w-100">Yes, Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal  -->

    </div>
    <!-- End Wrapper -->